body {
    background-color: #095256; /* Change this to any color you prefer */
    color:#BB9F06;
    margin:30px;
    font-family: Oswald,sans-serif;
}
.image-helper {
    display: flex;
    justify-content: center;
    gap: 5%; /* Adjust the gap between headings as needed */
}
.image {
    width: 50%;
    height: 600px;
    border:10px solid #BB9F06;
}
.heading1 {
    color: #BB9F06;
    background-color:transparent;
    border:10px solid #BB9F06;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    margin: 0; /* Remove default margin */
    padding: 5px; /* Remove default padding */
}
.heading1:hover {
    background-color: #BB9F06;
    color: #095256;
    cursor: pointer;
}