body {
    background-color: purple; /* Change this to any color you prefer */
}
.title {
    color:white;
    font-size:75px;
    text-align:center;
    margin:0; /* Remove default margin */
    padding: 5px; /* Remove default padding */
}
.line {
    background-color:white;
    height: 5px;
    width: 100%;
}
.upLine {
    background-color:white;
    height: 57px;
    width: 5px;
}
.Oline {
    background-color:purple;
    height: 20px;
    width: 100%;
}
.headings-container {
    display: flex;
    justify-content: center;
    gap: 15%; /* Adjust the gap between headings as needed */
}
.heading1, .heading2 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 0; /* Remove default margin */
    padding: 5px; /* Remove default padding */
}
.images-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust the gap between headings as needed */
}
.map {
    width: 40%;
    height: 500px;
}
.CanMan {
    width: 400px;
    height: 250px;
}
.key-box {
    width: 390px;
    height: 235px;
    border: 5px solid white;
    background-color: transparent;
}
.key {
    color:white;
    font-size:35px;
    text-align:center;
    text-decoration: bold;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10%; /* Adjust the gap between headings as needed */
}
.button {
    background-color: white;
    color: purple;
    font-size: 50px;
    border: 5px solid white;
    padding: 25px 60px;
    cursor: pointer;
    border-radius: 5px;
}
.button:hover {
    background-color: purple;
    color: white;
}
